<ion-view view-title="Item">
  <ion-content>
    <h1>{{item.title}}</h1>
    <ion-slide-box delegate-handle="image-viewer">
      <ion-slide ng-repeat="img in detail.image" ng-if="img.imageType == 1">
        <div class="box detail-{{$index}}">
          <img ng-src="{{img.imageUrl}}"/>
        </div>
      </ion-slide>  
    </ion-slide-box>
    <div class="row responsive-md">
      <p ng-bind-html="detail.descriptionHtml|rawHtml"></p>
    </div>
    <button ng-disabled="downloadDisabled" class="button button-block button-positive" ng-click="doDownload()">Donwload</button>
  </ion-content>
</ion-view>
