<ion-view view-title="Items">
  <ion-content>
    <form ng-submit="doSearch()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Search</span>
          <input type="text" ng-model="searchData.text">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Search</button>
        </label>
      </div>
    </form>
    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="(id, val) in items" href="#/app/items/{{id}}">
        <img ng-src="{{val.image[0].imageUrl}}">
        <h2>{{val.title}}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
